extends layout

block content

    div(id='main')
      div(class='inner')

        header(id='header')
          h1= title       

        section(id='banner')
          div(class='content')
            header
              h2= 'Formulaire'
            form#formAddUser(name="adduser",method="post",action="/insert/adduser")
              input#inputUserName(type="text", placeholder="username", name="username")
              input#inputUserPassword(type="text", placeholder="userpassword", name="userpassword")
              button#btnSubmit(type="submit") submit

       
    